@if(!getListItems().length) {
  <div class="container">
    <img
      src="assets/img/task-list-null.png"
      alt="Sua lista está vazia - imagem ilustrativa"
      loading="eager"
    />

    @if(addItem()) {
      <button class="btn btn-primary" (click)="addItem.set(false)">
        Cria uma lista de tarefas
      </button>
    } @else {
      <app-input-add-item
        [inputListItems]="getListItems()"
        (outputAddListItem)="getInputAddItem($event)"
      />
    }

  </div>
} @else {
  <app-input-add-item
    [inputListItems]="getListItems()"
    (outputAddListItem)="getInputAddItem($event)"
  />

  <main class="container"></main>

  <footer>
    <button class="btn btn-danger" (click)="deleteAllItems()">
      Deletar todos os Items
    </button>
  </footer>
}

